.logo {
  max-width: 150px;
  height: auto;
  margin: 0 auto;
}

.custom-carousel .carousel-item img {
  max-height: 300px; /* Ajuste a altura conforme necessário */
  object-fit: contain;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  width: 100%;
}

.top-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
